
html {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;  
}

body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 50px;
  padding-top: 25px;
  background-color: #fff;  
}

table {
  font-size: small;
  max-width: 100%;
}

.container {

}

body > .container section {
  margin: 0 0 3em;
}

p, ul, ol {
  margin-bottom: 22px;
}

a {
  color: #1b95e0;
}

.navbar-fixed-top {
  max-height: 50px;
}

.sidebar .section {
  margin-bottom: 2.5em;
}

#mc_embed_signup label {
  display: block;
}

.subscribe label {
  font-weight: normal;
}

.subscribe h2 {
  margin-bottom: 1em;
}

.subscribe a {
  margin-right: 10px;
}

.subscribe .twitter, .subscribe .rss {
  width: 35px;
  height: 35px;
  margin-top: 1px;
}

.rss img {
  width: 20px;
  height: 20px;
  margin-top: -2px;
}

.categories ul, .recent ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recent ul .date {
  display: block;
  color: #666;
  font-size: small;
}

.related h3 {
  margin: 40px 0 15px;
}

.related ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#disqus_thread {
  margin-top: 35px;
}

.read-on-link {
  font-size: 26px;
}

body.why .main img {
  display: none;
}

body.why .main section {
  clear: both;
}

/* principles */

.logo {
  text-align: center;
  font-size: 50px;
  margin-bottom: 1em;
}

.logo a {
  color: #333;  
}

.logo-conv, .logo-dev {
  color: #1b95e0;
  font-weight: bold;
}

.main .date {
  margin-bottom: 25px;
}

.main small.date {
  display: block;
  margin-bottom: 0;  
}

.date {
  font-style: italic;
  color: #666;
}

.breakout {
  font-size: x-large;
  padding: 10px 35px;
  font-style: italic;
  color: #666;
}

.footer {
  margin: 2em 0 0;
  padding: 3em 0;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  font-size: small;
}
