---
layout: default
body_class: post
---

<h1>
  {{ page.title }}  
</h1>

<div class="date">
{{ page.date | date: "%b %d, %Y" }}
</div>

{{ content }}

<section class="related">

  {% assign RELATED_POSTS_THRESHOLD = 3 %}

  {% for post in site.related_posts %}
    <h3>Related articles</h3>
    {% break %} %}
  {% endfor  %}

  <ul>
    {% assign related_post_count = 0 %}
    {% for post in site.related_posts %}
      {% if related_post_count == RELATED_POSTS_THRESHOLD %}
        {% break %}
      {% endif %}
      {% for tag in post.tags %}
        {% if page.tags contains tag %}
          <li>
            <h4>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small class="date">{{ post.date | date_to_string }}</small>
              </a>
            </h4>
          </li>
          {% assign related_post_count = related_post_count | plus: 1 %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% assign posts_left = RELATED_POSTS_THRESHOLD | minus: related_post_count %}
    {% unless posts_left == 0 %}
      {% for post in site.related_posts %}
        {% if posts_left == 0 %}
          {% break %}
        {% endif %}

        {% assign already_related = false %}
        {% for tag in post.tags %}
          {% if page.tags contains tag %}
            {% assign already_related = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% unless already_related %}
          {% assign posts_left = posts_left | minus: 1 %}
          <li>
            <h4>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small class="date">{{ post.date | date_to_string }}</small>
              </a>
            </h4>
          </li>
        {% endunless %}
      {% endfor %}
    {% endunless %}
  </ul>

</section>

<section class="comments">
{% if page.comments %}

  <div id="disqus_thread"></div>
  <script>
  (function() { 
  var d = document, s = d.createElement('script');
  s.src = 'https://convdevio.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>                                  

{% endif %}
</section>
